<launch>
  <!-- Author: VincentChan  -->

  <!-- Bring up the Realsense organized PCL -->
  <include file="$(find startup)/rs_rgbd.launch">
  </include>

  <!-- Start PCL Edge and Normal Estimation -->
  <!--<include file="$(find startup)/organized_edge_detector.launch">
  </include> -->

  <!-- Start PCL Obstacle Segmentation -->
  <node pkg="obstacle_detection" type="obstacle_detection_node" name="obstacle_detection" output="screen" > </node>

</launch>
