<launch>
  <!-- Author: VincentChan  -->

  <!-- Bring up the Realsense organized PCL -->
  <include file="$(find startup)/rs_rgbd.launch">
  </include>

  <!-- Start PCL Edge and Normal Estimation -->
  <include file="$(find startup)/organized_edge_detector.launch">
  </include>

  <!-- People Detection -->
  <include file="$(find startup)/people_detection.launch">
  </include>


</launch>
